<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.soundcloud.com/lemoyne">Le Moyne Music</a>
      by Daniel Spivak
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>

